* {
    box-sizing: border-box;
}
.blanco {
    background-color: white;
    border: 1px solid;
}
.altura1 {
    height: 1230px;
}
.rojo {
    background-color: red;
    border: 1px solid;
}
.altura2 {
    height: 100px;
}
.altura3 {
    height: 730px;
}
.row {
    border: 1px solid;
}
.altura5 {
    height: 100px;
}
.verde {
    background-color: green;
}
.azul {
    background-color: blue;
}